.horizontal-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-color: var(--marvel-red) #00000005;
}
.scroll-content {
  display: flex;
}
.scroll-item {
  width: 180px;
  margin-right: 20px;
}
.scroll-item img {
  width: inherit;
  height: auto;
}
.comic-title {
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  margin-top: 8px;
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}
.comic-img {
  aspect-ratio: 2/3;
}
.comic-year {
  font-size: 12px;
}